/*
 * My Custom style sheet
 */

/* padding top and bottom of page to 60px. */
body {
	padding-bottom: 60px;
}

section {
  padding-top: 60px;
}

/* Padding spacing between each row to be 20px.*/
.row {
	padding: 20px 0;
}

label.valid {
  width: 24px;
  height: 24px;
  background: url() center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

.footer {
  padding: 10px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
}

.btn.space-top { margin-top: 20px; }

.errorMessage { color: Red;}
