.navbar .brand {
float: left;
display: block;
padding: 8px 20px 12px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
line-height: 1;
color: #ffffff;
}

#searchbox{
	padding: 200px;
}
#navright{
	padding-right: 40px;
}