#premium{
	background-color: #DB7390;
}
.carousel-caption{
  color: #fff;
}
#myModal{
  width: 1000px;
  margin: -250px 0 0 -450px;
}

.footer {
  padding: 10px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
}
