<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Profile Details</title>

		<link href="stylesheets/s4le.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="BeforeLogin.css">
		<link rel="stylesheet" type="text/css" href="sign_up.css">
		<link href="stylesheets/bootstrap.css" rel="stylesheet">
		<link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">	
		<link href="stylesheets/datepicker.css" rel="stylesheet">

    <script type="text/javascript" src="http://knockoutjs.com/downloads/knockout-2.2.0.js"></script>
		<script src="javascripts/lib/jquery-1.8.2.js"></script>
	    <script src="javascripts/lib/bootstrap.js"></script>
	    <script src="javascripts/lib/bootstrap-datepicker.js"></script>
	    
    <script type="text/javascript" src ="Knockout-Validation\Dist\knockout.validation.js"></script>
    <script type="text/javascript" src ="Knockout-Validation\Localization\el-GR.js"> </script>
    <script type="text/javascript" src="sign_up.js"></script>
    <script type="text/javascript">
      $(function(){
          ko.applyBindings(signUpViewModel);
      });
    </script>
<!-- these links were used because the page was first written in angularjs
    <script type="text/javascript">
      $(document).ready(function(){ $('.datepicker').datepicker()});
    </script>
		<script src="javascripts/lib/angular-1.0.2/angular.js"></script>
	    <script src="javascripts/app/signup.js"></script> -->

	</head>

	<body>
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-inner">
				<a class="brand" href="BeforeLogin.html"><strong>S4LE</strong> </a>
			<ul class="nav pull-right" id="navright">
				<li class="active"><a href="log_up.html">SignUp</a> </li>
				<li><a href="#">|</a></li>
				<li><a href="log_in.html">Login</a> </li>
			</ul>
			</div>
		</div>


		<div class="container" ng-controller="SignUpCtrl">
			<label id="signup"><h2>Sign up</h2></label>
			<h4>Hello, <em id="person_name">{{person.name}}</em></h3>
			<p>Please kindly provide us with some personal information to complete the registration.</p>

			<!--Contains form data for DOB and other personal info. -->
			<form class="form-horizontal" action='' method="POST">
				<div class="well">
				<fieldset>					
					<legend>We'd love to hear a little more about you!</legend>
					<div class="row-fluid">
						<div class="span7">
							<div class="control-group">
								<label class="control-label">Date Of Birth</label>
								<div class="controls">
									<input type="date" class="datepicker" ng-model="person.dateOfBirth" pattern="\d{1,2}/\d{1,2}/\d{4}" data-bind="value: date" required>						
								</div>						
							</div>
							
							<div class="control-group">
								<label class="control-label">Gender</label>
								<div class="controls">
									<label class="radio inline">
										<input type="radio" ng-model="person.gender" name="gender" value="male" data-bind="checked: gender"> Male
									</label>
									<label class="radio inline">
										<input type="radio" ng-model="person.gender" name="gender" value="female" data-bind="checked: gender" > Female
									</label>
								</div>
							</div>
							
							 					<div class="control-group">
								<label class="control-label">Marital Status</label>
								<div class="controls">
									<label class="radio inline">
										<input type="radio" ng-model="person.maritalStatus" name="maritalStatus" value="single" data-bind="checked: maritalStatus"> Single								
									</label>
									<label class="radio inline">
										<input type="radio" ng-model="person.maritalStatus" name="maritalStatus" value="married" data-bind="checked: maritalStatus"> Married
									</label>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Mobile Number</label>
								<div class="controls">
									<input type="text" ng-model="person.telephone" data-bind="value: mobileNumber">
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Moblie Privacy Setting</label>
								<div class="controls">
									<label class="radio inline">
										<input type="radio" name="mobileSettings" value="default" data-bind="checked: privacyTag"> Default: Stay Undisclosed
									</label>							
									<label class="radio inline">
										<input type="radio" name="mobileSettings" value="visible" data-bind="checked: privacyTag"> Visible to all 
									</label>
									<p class="help-block">(shown only to confirmed buyer/seller)</p>
								</div>
							</div>
						</div>
						<div class="span5">
							<div class="well">
							<h5>Wear your mask now, you are in public</h5>
							<img src="img/pic.jpg" width="100" height="90" alt="">
							<label><small><a href="#">Select</a> your avatar </small></label>
	                         <label> >Please Enter your desired S4LE Username:</label>
	                         <input type="text" placeholder="S4LE Username" data-bind="value: userName">
	                         <label><small>Note: The S4LE Username and Avatar are used to represent your masked identity; thus not revealing your actual Social identity(Eg.,Facebook,Twitter etc..) to any outsider public or unknowns.</small></label>
	                         <label> >Now, How would you like your Friends to see you here</label>
	                         <label class="inline">
	                         	<input type="radio" name="identity" value="actual" data-bind="checked: identity" >My actual Social Identity*
	                         	<input type="radio" name="identity" value="masked" data-bind="checked: identity" >My Masked Identity
	                         </label>
							</div>
						</div>
					</div>
				</fieldset>
			</div>

			<!--Contains form data for Address. -->
				<div class="well">
					<fieldset>
						<legend>Where do you live?</legend>
						<div class="control-group">
							<label class="control-label">Home Address</label>
							<div class="controls">
								<p><input type="text" placeholder="Flat/Door Number" data-bind="value: flatNumber"></p>
								<p><input type="text" placeholder="Street" data-bind="value: streetNumber"></p>
								<p>
									<select data-bind="options: availableCountry,optionsCaption: 'Select Country',value: country">
										
									</select>
									<select data-bind="visible: country,options: availableState,optionsCaption:'select state',value: state">
									</select>
									<select data-bind="visible: state,options: availableCity,optionsCaption:'select city' ,value: city">
									
									</select>
									<select data-bind="visible: city,value: area">
										<option>Select Area</option>
										<option>Banjara Hills</option>
										<option>Punjagutta</option>
										<option>Ameerpet</option>
										<option>SR Nagar</option>
									</select>
							    </p>
								<p><input type="text" placeholder="Pincode" data-bind="value: pincode"></p>	
							</div>
						</div>					
					</fieldset>
				</div>

			<!--Contains form data about profession --> 
				<div class="well">
					<fieldset>
						<legend>What do you do?</legend>
						<div class="control-group">
							<label class="control-label">Profession</label>
							<div class="controls">
								<select data-bind="options: availableProfession,optionsCaption: 'Select Profesion', value: profession">
									
								</select>
							</div>						
						</div>
					
						<div class="control-group">
							<label class="control-label">Institution</label>
							<div class="controls">
								<input type="text" placeholder="Institution" ng-model="person.institution" data-bind="value: institution">
							</div>
						</div>
					
						<div class="control-group">
							<label class="control-label">Job Designation</label>
							<div class="controls">
								<input type="text" placeholder="Job Designation" ng-model="person.jobDescription" data-bind="value: job">
							</div>
						</div>
					</fieldset>
				</div>

			<hr>
			<!-- Listing out other options for user to check -->
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: signup_flag"> I did not sign up with my 'Facebook' or 'Twitter ID'
				</label>
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: email_flag" value="newsletter"> I would like to subscribe to the email newsletter from S4LE
				</label>
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: terms_condition"> I agree to all the mentioned <a href="#">Terms & Conditions</a>
				</label>
			</div>

			<hr>
			<button type="submit" data-bind="click: ko.toJSON(signUpViewModel)">Save</button>
			
			<p><a class="btn btn-success offset4 span3" href="signup3.html">Submit</a></p>
		</div>
	</form>

		<footer class="footer">
			<div class="container">
				<p class="pull-right"><a href="#">Back to top</a></p>
				<ul class="footer-links">
					<li><a href="#1">Home</a></li>
					<li><a href="#2">About Us</a></li>
					<li><a href="#3">Sign up</a></li>
					<li><a href="#4">Merchant Login</a></li>
					<li><a href="#5">Contact Us</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>